html, body, header{
	width: 100%;
	height: 100%;
}
body{
    font-family: 'Open Sans'
}

.bg-header{
	background:url('../img/header.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0%;
    min-height: 300px;
}

hr{
     height: 2px;
     width: 60px;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.btn-hover:hover{
	color:white;
	background-color: #F6B399;
}

.img_100{
    width: 100%;
}

.fa-diamond, .fa-paper-plane, .fa-newspaper-o, .fa-heart  {
    color: #F05F40 !important;
}

.fa-phone, .fa-envelope-o{
    color: black !important;
}

#maquinas{
    font-size:40px;
    color:white;
}

.wt-xs{
    background-color: rgba(0,0,0,0.5);
}

@media only screen and (max-width: 903px) {
    .text-nav {
        font-size: 3rem !important;
    }

    .fs-21{
        font-size: 1.5rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .text-nav {
        color: #F05F40 !important;
        font-size: 3rem !important;
    }

    .img{
        background-color: #F05F40;
    }

    .img_100{
        opacity: 0.6;
    }
}

@media only screen and (max-width: 667px) {
    .text-nav {
        color: #F05F40 !important;
        font-size: 3rem !important;
    }
}

@media only screen and (max-width: 480px) {
    .mt-14-xs {
        margin-top: 14px !important;
    }
    .fz-15-xs {
        font-size: 15px !important;
    } 

    #maquinas{
        margin-top: 14px;
        font-size: 25px;
        color: white;
        text-align: center;
    }

    .text-nav {
    color: #F05F40 !important;
    font-size: 2rem !important;
}
}
